<h2> All Authors</h2>
<% @authors.each do |author| %>
<%= author.pretty_name %> <br>
  <form action="/authors/<%= author.id %>" method="get">
    <input type="submit" value="Find all books by this authors">
  </form>
<hr />
<% end %>