<h2> Add a new Author </h2>

<form action="/authors" method="post">
  <label for="first-name"> First name </label>
  <input type="text" name="first_name" id="first-name">
  <br>
  <label for="last-name"> Last name </label>
  <input type="text" name="last_name" id="last-name">
  <br>
  <input type="submit" value="Add Author">
</form>
