<h2> All Categories </h2>
<% @categories.each do |category| %>
  <%= category.name %> <br>
  <form action="/categories/<%= category.id %>" method="get">
    <input type="submit" value="Find all books in this category.">
  </form>
  <hr />
<% end %>