<h2> Add a new Category </h2>

<form action="/categories" method="post">
  <label for="category-name"> Category Name </label>
  <input type="text" name="name" id="category-name">
  <br>
  <input type="submit" value="Add Category">
</form>
