<h2> Inventory management tool </h2>

Welcome to Kyle Knickknacks inventory management. Select an option from the nav bar to continue.

<form action="/authors" method="get">
  <input type="submit" value="Test button">
</form>
<button><a href="/authors"> Test button 2</a> </button>