<!DOCTYPE html>
<html>
<head>
  <title>Inventory Management</title>
</head>
<body>
<nav>
  <ul>
    <li> <a href='/authors'> All authors </a> </li>
    <li> <a href='/'> Placeholder 2 </a> </li>
  </ul>
</nav>
<%= yield %>
</body>
</html>