<!DOCTYPE html>
<html>
<head>
  <title>Inventory Management</title>
</head>
<body>
<nav>
  <ul>
    <li> <a href='/authors'> All authors </a> </li>
    <li> <a href='/authors/new'> Add a new author </a> </li>
    <li> <a href='/books'> All books </a> </li>
    <li> <a href='/books/new'> Add a new book </a> </li>
  </ul>
</nav>
<%= yield %>
</body>
</html>