<h2> Edit <% @book.pretty_name %></h2>

<form action="/authors/<%= @book.id %>" method="post">
  <label for="title"> Title </label>
  <input type="text" name="name" id="title" value="<%= @book.name %>">
  <br>
  <label for="last-name"> Last name </label>
  <input type="text" name="last_name" id="last-name" value="<%= @book.last_name %>">
  <br>
  <input type="submit" value="Edit Author">
</form>
